.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.grid-item {
    flex: 0 0 18%;
    border-radius: 6px;
    background: var(--secondary-bg-color);
    /*border: 1px solid #04859d;*/
    padding: 8px;
    margin: 1%;
    position: relative;
    overflow: hidden;
    min-width: 400px;
    min-height: 150px;
    /*align-self: baseline;*/
    box-shadow: 0px 2px 3px 0px rgba(13,13,13,1);
}