@if (Link)
{
    <a href="@Page" class="list-item @(Link ? "list-item-link" : "")">
        @ChildContent
    </a>
}
else
{
    <div class="list-item @(Link ? "list-item-link" : "")">
        @ChildContent
    </div>
}

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public bool Link { get; set; } = false;

    [Parameter]
    public string Page { get; set; }
}
