@inherits LayoutComponentBase

<PluginLoaderOverlay></PluginLoaderOverlay>

<div class="main">
    <NavMenu></NavMenu>
    <div class="main-content">
        <div class="logo mx-auto">
            <span class="logo-title-text-1">APP</span>
            <span class="logo-title-text-2">DASH</span>
        </div>
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
