@using ChartJs.Blazor.Charts

<Button></Button>
<ChartJsLineChart></ChartJsLineChart>

@code {
    // This is here only because some blazor library otherwise won't be compiled with the client.
    // This should be removed once a fix is found
}
