@using AppDash.Plugins
@using System;
@using System.Globalization
@using System.Reflection
@using Microsoft.AspNetCore.Components.Rendering
@inherits PluginTileComponent

<div class="my-component">
    This Blazor component is defined in the <strong>TorrentPlugin</strong> package.
    Current time: @time.ToString("G", CultureInfo.CurrentCulture)
</div>

@code
{
    public override string Url { get; set; }

    DateTime time = DateTime.Now;

    public override bool OnUpdate()
    {
        time = Data.GetData<DateTime>("datetime");

        return true;
    }
}
