@using AppDash.Plugins
@using System;
@using System.Globalization
@using System.Reflection
@using Microsoft.AspNetCore.Components.Rendering
@inherits PluginTileComponent

<div class="my-component">
    <div class="row">
        <div class="col-sm font-weight-bold">
            QBittorrent
        </div>
        <div class="w-100"></div>
        <div class="col-sm">
            2 of three columns
        </div>
        <div class="col-sm">
            3 of three columns
        </div>
    </div>
</div>

@code
{
    public override string Url { get; set; } = "test";

    DateTime time = DateTime.Now;

    public override bool OnUpdate()
    {
        time = Data.GetData<DateTime>("datetime");

        return true;
    }
}
